.action-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

.action-btn:hover{

    background:#1d4ed8;

}