.stat-card{

    background:white;

    padding:20px;

    border-radius:12px;

    box-shadow:0 4px 10px rgba(0,0,0,.1);

    width:220px;

}

.stat-card h3{

    color:#6b7280;

    margin-bottom:10px;

}

.stat-card h2{

    color:#111827;

    font-size:30px;

}