body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

.app-container{
    display:flex;
}

.page-content{
    margin-left:220px;
    margin-top:70px;
    width:100%;
    padding:30px;
}